@import "@sass-utils";

.layout {
  min-height: 100vh;
  width: 100%;
  padding-top: 80px;
  display: flex;
  flex-direction: column;

  @include sp {
    padding-top: 56px;
  }
}

.motion {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.main {
  display: flex;
  flex-grow: 1;
  width: 100%;
}
