.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  a {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: var(--text-color);

    &.active {
      background-color: var(--primary-color);
      color: var(--bg-primary);
      border-color: var(--primary-color);
    }

    &:hover {
      background-color: #0070f3;
      color: #fff;
      border-color: #0070f3;
    }
  }
}
